.Post {
    margin: 20px;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 30vw;
    min-height: 500px;
    min-width: 400px;
    text-align: center;
    background-color: rgb(0, 247, 255);
}

.PostImage {
    width: fit-content;
    height: 200px;
    border: 1px solid #eee;
    background-color: #ccc;
}

.PostText {
    width: auto;
}

.PostTitle {
    font-size: 0.8em;
    display: block;
}

.PostLikes {
    display: inline-block;
}

.PostReadMore {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}